<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.DaHuotu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.DaHuotu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <com.DaHuotu.Properties.Settings>
            <setting name="appVersion" serializeAs="String">
                <value>1.0.1</value>
            </setting>
            <setting name="showPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="addHead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="codeType" serializeAs="String">
                <value />
            </setting>
        </com.DaHuotu.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <com.DaHuotu.Properties.Settings>
            <setting name="appName" serializeAs="String">
                <value>图片批量转Base64</value>
            </setting>
        </com.DaHuotu.Properties.Settings>
    </applicationSettings>
</configuration>